In [3]:
import pandas as pd
import requests as rq

In [76]:
#Grab the data from the server, must use my API Key
r = rq.get('https://api.data.gov/ed/collegescorecard/v1/schools.json?api_key=KYthZktaAwB5CMGp9Keyl3raXpb6CS43CaMhbLkr&school.name=Iowa%20State%20University')
data = r.json()
df = pd.DataFrame.from_dict(data['results'])
df

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2013,2014,2015,2016,id,latest,location,ope6_id,ope8_id,school
0,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,{'completion': {'completion_rate_lt_four_year_...,153603,{'completion': {'completion_rate_lt_four_year_...,"{'lon': -93.648504, 'lat': 42.026212}",1869,186900,"{'degrees_awarded': {'predominant': 3, 'highes..."

In [78]:
#segment the data into subsets
segmentList = [
data['results'][0]['2012']['completion'],
data['results'][0]['2012']['earnings'],
data['results'][0]['2012']['student'],
data['results'][0]['2012']['admissions'],
data['results'][0]['2012']['aid'],
data['results'][0]['2012']['repayment'],
]

In [79]:
completion2012 = segmentList[0]
earnings2012 = segmentList[1]
students2012 = segmentList[2]
admissions2012 = segmentList[3]
aid2012 = segmentList[4]
repayment2012 = segmentList[5]